{
  "apiKey": "AIzaSy...",
  "discoveryDocs": ["https://slides.googleapis.com/$discovery/rest?version=v1"],
  "clientId": "427.....apps.googleusercontent.com",
  "scope": "https://www.googleapis.com/auth/presentations"
}
